@font-face {
    font-family: bebas;
    src: url(BEBAS-REGULAR.OTF);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 98vh;
}

.centered {
    text-align: center;
}

body {
    background-image: url(senecaback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #191919;
    color: #ffffff;
    /* Removed the extra semicolon here */
}

body {
    font-family: bebas;
    font-size: 3.6em;
}

a {
    text-decoration: none;
}